#menu li:nth-child(2) ul li{
   display: none;
   position: absolute;
   color: white;
   width: 100px;
   z-index: 1;
   background-color: #6b6b6b;
   margin: 1px;
   min-width: 100px; 
}
#menu li:nth-child(2):hover ul li{
  background-color: lightgrey;
  color: black;
  display: block;
}
#menu li:nth-child(3) ul li{
   display: none;
   position: absolute;
   color: white;
   width: 100px;
   z-index: 1;
   background-color: #6b6b6b;
   margin: 1px;
   min-width: 100px; 
}
#menu li:nth-child(3):hover ul li{
  background-color: lightgrey;
  color: black;
  display: block;
}
a{
  background-color: grey;
  margin: 1px;
  color: black;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
a:hover{
  background-color: lightgrey;
  color: black;
  display: block;
}
li{
  list-style-type: none;
  float: left;
}
