#menu li:nth-child(2) ul li{
   display: none;
}
#menu li:nth-child(3) ul li{
   display: none;
}
#menu li:nth-child(3):hover ul li{
  background-color: lightgrey;
  color: black;
  display: block;
  position: absolute;
  z-index: 1;
  left: 310px;
  width: 150px;
  margin: 1px;
}
#menu li:nth-child(2):hover ul li{
  background-color: lightgrey;
  color: black;
  display: block;
  position: absolute;
  z-index: 1;
  left: 175px;
  float: left;
  width: 150px;
  margin: 1px;
}
menu > li{
   width: 100px;
   background-color: #6b6b6b;
   margin: 1px;
   width: 100px;
   float: left;
}
a{
  background-color: grey;
  margin: 1px;
  color: black;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
a:hover{
  background-color: lightgrey;
}
#menu li:nth-child(2) ul li:hover {
  background-color: #6b6b6b;
}

#menu li:nth-child(3) ul li:hover {
  background-color: #6b6b6b;
}
li{
  list-style-type: none;
  float: left;
}