div{
  background-color: lightgrey;
  margin: 10px;
  text-align: center;
}
#container{
  width: 900px;
  background-color: none;
  margin: 0 auto;
}
#header{
  width: 100px;
  height: 70px;
}
#leftmenu{
  width: 295px;
  height: 500px;
  float: left;
  margin: auto;
}
#maincontent{
  width: 595px;
  height: 500px;
  float: right;
  margin:auto;
}
#clear{
  clear:both;
}
#footer{
  width: 900px;
  height: 30px;
  float:left;
  margin-left: 0px;
}
